body,html {
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#NavbarID{
  margin-top: 10%;
  margin-left: 50%;
}

#button1:hover{
  border-color: #4285f4;
  background-color: #4285f4;
  color: white;
}

#button1:active{
  border-color: #4285f4;
  background-color: #4285f4;
  color: white;
}
#button1{
  font-family: 'Kanit', sans-serif;
  border-color: #4285f4;
  background-color:white;
  color:#4285f4;
  width:200px;
  
  text-align: center;
}
#button2{
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom:30px;
}
.thaiFont{
  font-family: 'Kanit', sans-serif;

}
#cardCom{
  font-family: 'Kanit', sans-serif;
}
#inputFrom{
  width: 80%;
}
